body {
  background-color: #282828;
}

#banner{
  background-color: green;
}

#logo{
  width: 8%;
  height: 8%;
  display: inline-block;
  padding: 5px
}

#title{
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 50%;
}

#search {
  float: left;
  width: 50%;
  height: 50%;
}

#search-button{
  display: inline-block;
}

#related {
  
}

#songcover {
  width: 50%;
  height: 50%;
}

.row {
  display: flex;
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
}